<form id="main-form">
  <div class="form-container-alt">
    <div class="fb-text form-group field-text-1523982869952">
      <label for="text-1523982869952" class="fb-text-label">First Name</label>
      <input type="text" class="form-control" name="text-1523982869952" id="text-1523982869952">
    </div>
    <div class="fb-text form-group field-text-1523995429676">
      <label for="text-1523995429676" class="fb-text-label">Last Name</label>
      <input type="text" class="form-control" name="text-1523995429676" id="text-1523995429676">
    </div>
    <div class="fb-text form-group field-text-1523995818575">
      <label for="text-1523995818575" class="fb-text-label">Ssn</label>
      <input type="text" placeholder="XXX-XX-XXXX" class="form-control" name="text-1523995818575" id="text-1523995818575">
    </div>
    <div class="fb-text form-group field-text-1523995853167">
      <label for="text-1523995853167" class="fb-text-label">Phone Number</label>
      <input type="tel" placeholder="000-000-0000" class="form-control" name="text-1523995853167" id="text-1523995853167">
    </div>
    <div class="fb-text form-group field-text-1523995888001">
      <label for="text-1523995888001" class="fb-text-label">Email</label>
      <input type="email" class="form-control" name="text-1523995888001" id="text-1523995888001">
    </div>
    <div class="fb-text form-group field-text-1523995856300">
      <label for="text-1523995856300" class="fb-text-label">Text Field</label>
      <input type="text" class="form-control" name="text-1523995856300" id="text-1523995856300">
    </div>
    <div class="fb-button form-group field-button-1523995454774">
      <button type="button" class="btn btn-info" name="button-1523995454774" style="info" id="button-1523995454774">Add employee</button>
    </div>
  </div>
</form>