<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <a href="/add-employee">
                <div class="card">
                    <div class="content">
                        <div class="font-base">
                            Add employee
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="font-base">
                        Create opening
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="font-base">
                        View applicants
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="font-base">
                        ...
                    </div>
                </div>
            </div>
        </div>
    </div>

  <div class="row">
      <div class="col-md-6">
          <div class="card">
              <div class="header">
                  <h4 class="title">Application Status</h4>
                  <p class="category">Current quarter</p>
              </div>
              <div class="content">
                  <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>

                  <div class="footer">
                      <div class="chart-legend">
                          <i class="fa fa-circle text-info"></i> Accepted
                          <i class="fa fa-circle text-danger"></i> Open
                          <i class="fa fa-circle text-warning"></i> Rejected
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="card ">
              <div class="header">
                  <h4 class="title">Job Applications</h4>
                  <p class="category">Count of application activity</p>
              </div>
              <div class="content">
                  <div id="chartActivity" class="ct-chart"></div>

                  <div class="footer">
                      <div class="chart-legend">
                          <i class="fa fa-circle text-info"></i> 2016
                          <i class="fa fa-circle text-warning"></i> 2017
                          <i class="fa fa-circle text-danger"></i> 2018
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
